td,div,p,span,a,input,textarea,select {
	font-size: 12px; 
	font-family: ו;
}
body {
	padding-right: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px; 
	margin: 0px; 
	padding-top: 0px;
}
table {
	border-collapse: collapse;
}
a:link {
	COLOR: #0055bb; 
	TEXT-DECORATION: none;
}
a:visited {
	color: #0077bb; 
	text-decoration: none;
}
a:hover {
	color: #ff0000; 
	text-decoration: underline;
}
.hidden {
	display: none;
}
.display {
	display: block;
}
.textbox {
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-left: #cccccc 1px solid; 
	color: #333333; 
	border-bottom: #cccccc 1px solid; 
	height: 17px; 
	background-color: #fdfdfd;
}
.textarea {
	border-right: #cccccc 1px solid; 
	border-top: #cccccc 1px solid; 
	border-left: #cccccc 1px solid; 
	color: #333333; 
	border-bottom: #cccccc 1px solid; 
	background-color: #fdfdfd;
}
.button {
	border-right: #888888 1px solid; 
	border-top: #f4f4f4 1px solid; 
	border-left: #f4f4f4 1px solid; 
	color: #000000; 
	padding-top: 2px; 
	border-bottom: #888888 1px solid;
}
.fileupload {
	border-right: #eeeeee 1px solid; 
	border-top: #999999 1px solid; 
	font-size: 12px; 
	border-left: #999999 1px solid; 
	color: #333333; 
	border-bottom: #eeeeee 1px solid;
}
.redinfo {
	color: #ff0000;
}
